@import url("https://use.typekit.net/uma2tiz.css");


body {
    font-family: "Roboto";
    min-width: 320px;
    max-width: 1900px;
    padding: 0;
    margin: 0 auto !important;
    user-select: none;
}

.principal {

    display: block;
}

.logo {
    display: block;
    background-image: url("../../img/icons/logo-min.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;

    width: 200px;
    height: 200px;
}


.clock {
    background-image: url("../../img/graphics/clock-min.svg");
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    width: 20%;
    height: 20%;
    padding: 17%;
    margin: 12%;
    left: 0%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align-last: center;
    filter: drop-shadow(0.5vw 0.9vw 0.8vw #222);
    transform: translateY(-30%);

}


.hour,
.min,
.sec,
.centro {
    position: absolute;
    bottom: 50%;
    border-radius: 5%;
    transform-origin: bottom;

}

.hour {
    background-image: url("../../img/graphics/ponteiroH.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 10%;
    height: 28%;
    z-index: 1;
    filter: drop-shadow(0.3vw 0.3vw 0.2vw #222);


}

.min {
    background-image: url("../../img/graphics/ponteiroM.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 45%;
    height: 34%;
    z-index: 2;
    filter: drop-shadow(0.3vw 0.3vw 0.2vw #222);

}

.sec {
    background-image: url("../../img/graphics/ponteiroS.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 2%;
    height: 24%;
    z-index: 3;
    filter: drop-shadow(0.3vw 0.3vw 0.2vw #222);

}

.centro {
    background-color: white;
    bottom: 48%;
    width: 4%;
    height: 4%;
    z-index: 4;
    filter: drop-shadow(0.3vw 0.2vw 0.3vw #222);


}