@import url("https://use.typekit.net/uma2tiz.css");

@font-face {
    font-family: 'Magic-Retro';
    src: url("../../font/magic-retro.ttf")
}


body {
    background-color: #ba945e;
    font-family: "Roboto";
    min-width: 320px;
    max-width: 1900px;
    padding: 0;
    margin: 0 auto !important;
    user-select: none;

}

.navbar {
    min-width: 320px;
    max-width: 1900px;
    padding: 0;
    margin: 0 auto !important;

}

.cor-marrom {
    background-color: #5e380b;
}

.navbar li a:hover {
    background-color: #ba945e;
}


.back-one {
    background-image: url("../../img/background/back-1-min.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    pointer-events: none;

}

.back-two {
    display: flex;
    position: relative;
    background-image: url("../../img/background/back-2-min.png");
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
    background-position: center center;
    min-height: 1000px;


}

.back-three {
    display: flex;
    background-image: url("../../img/background/back-3.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 800px;
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: center;


}

.back-four {
    background-image: url("../../img/background/back-4.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    max-height: 1400px;
    min-height: 780px;


}

.slogan {
    right: 5%;
    padding: 0%;
    margin: 0%;
    border: 0;
    bottom: 35%;
    filter: drop-shadow(0.4vw 0.4vw 0.7vw #222);

}

.ronaldo {
    right: 23%;
    padding: -20%;
    margin: 0%;
    top: 0%;
    border: 0;
    filter: drop-shadow(0.4vw 0.4vw 0.7vw #222);
    z-index: 1
}


.separador {
    right: 0;
    padding: 0;
    margin-top: 50%;
    top: 0%;
    z-index: 10;
}

.separador2 {
    right: 0;
    padding: 0;
    margin-top: -1.5%;
    margin-bottom: -1.6%;
    top: 0%;
    z-index: 10;
}

.separador3 {
    right: 0;
    padding: 0;
    margin-top: -1.5%;
    margin-bottom: -10%;

}


.box-1 {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 20%;

}

.box_Guardioes {
    position: relative;
    display: block;
    max-width: 403px;
    height: auto;
    max-height: 350px;
    min-height: 250px;
    font-family: "Roboto";
    background-color: white;
    box-shadow: -0.2vw 0.2vw 0.7vw rgb(21, 19, 19);
}

.box-M-guardioes {
    display: inline-block;
    position: relative;
    min-width: 90%;
    max-width: 90%;
    right: 5%;
    transform: translateY(-30%);
    width: max-content;
    height: auto;
}

.box_jornada {
    position: relative;
    display: inline-block;
    max-width: 403px;
    height: auto;
    max-height: 1%;
    min-height: 350px;
    font-family: "Roboto";
    background-color: white;
    box-shadow: -0.2vw 0.2vw 0.7vw rgb(21, 19, 19);
}

.box-M-jornada {
    display: inline-block;
    position: relative;
    min-width: 90%;
    max-width: 90%;
    right: 5%;
    transform: translateY(-30%);
    width: max-content;
    height: auto;
}

.botao {
    box-shadow: -0.05vw 0.05vw 0.2vw rgb(21, 19, 19);

}

.botao:active {
    background-color: #ba945e;
}

.font-magic {
    font-family: "Magic-Retro";
}

.relogio {
    position: relative;
    right: 0;
    padding: 0;
    margin: 20%;
    top: 0;


}

.contato {
    background-color: #532A64;
    font-family: "Roboto";
    color: #fff;
}

.geral-ingresso {
    display: flex;
    background-color: transparent;
    position: relative;
    flex-wrap: wrap;
    display: inline-block;
    justify-content: center;
    max-width: 100%;
    padding: 0;
    margin: 0;
    transform: translateY(-20%);
}

.imagem-ingresso {
    display: block;
    background-image: url("../../img/slogan/ingressos.png");
    position: relative;
    align-items: center;
    justify-content: center;
    text-align-last: center;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 95vw;
    min-width: 318px;
    max-height: 60vw;
    min-height: 200px;
    height: 250px;
    width: 410px;
    background-size: cover;
    padding: 0;
    margin: 0;
    z-index: 1;

}


.logo-ingressos {
    display: inline-block;
    background-image: url("../../img/slogan/chaves-da-criatividade.png");
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    max-width: 45%;
    min-width: max-content;
    min-height: max-content;
    height: 80%;
    width: 80%;
    left: 5%;
    top: -8%;
    bottom: 15%;
    padding: 0;
    margin: 0;
    z-index: 4;
    animation: Girar 15s linear infinite;
}

.btn-compre {
    position: relative;
    display: block;
    background-size: cover;
    align-items: flex-start;
    justify-content: center;
    text-align-last: center;
    min-height: max-content;
    max-width: 91%;
    transform: translateX(9%);
    top: 8%;
    padding: 0;
    margin: 0;

}

@keyframes Girar {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.programacao {
    display: flex;
    min-width: 200px;
    max-width: 500px;


}

.box-2 {
    font-family: "Roboto";
    background-color: white;
    box-shadow: -0.2vw 0.2vw 0.7vw rgb(21, 19, 19);
}

.geral-patronos {
    position: relative;
    display: block;
    z-index: 4;
    max-width: 500px;
    min-width: 200px;
    height: 700px;

}

.cogumelo {
    position: relative;
    background-image: url('../../img/graphics/programacao_inteiro.png');
    background-color: transparent;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: -210px 11px;
    min-height: 101%;
    transform: translate(-0%, 13%);
    padding: 0%;
    margin: 0%;
}

.box-patronos {
    display: inline-block;
    position: absolute;
    font-family: "Roboto";
    color: #5e380b;
    background-color: transparent;
    width: 220px;
    min-width: 40%;
    transform: translateX(37%);
    top: 50%;
    padding: 0;
    margin: 0;
}