@import url("https://use.typekit.net/uma2tiz.css");

@font-face {
    font-family: 'Magic-Retro';
    src: url("../../font/magic-retro.ttf")
}

body {
    background-color: #ba945e;
    font-family: "Roboto";
    min-width: 375px;
    max-width: 1900px;
    padding: 0;
    margin: 0 auto !important;
    user-select: none;

}

.navbar {
    min-width: 375px;
    max-width: 1900px;
    padding: 0;
    margin: 0 auto !important;

}

.cor-marrom {
    background-color: #5e380b;
}

.navbar li a:hover {
    background-color: #ba945e;


}

.back-one {
    background-image: url("../../img/background/back-1-min.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    pointer-events: none;
    

}

.back-two {
    background-image: url("../../img/background/back-2-min.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 1300px;


}

.slogan {
    right: 3%;
    padding: 0%;
    margin: 0%;
    border: 0;
    bottom: 35%;
    filter: drop-shadow(0.4vw 0.4vw 0.7vw #222);

}

.ronaldo {
    right: 23%;
    padding: -20%;
    margin: 0%;
    top: 0%;
    border: 0;
    filter: drop-shadow(0.4vw 0.4vw 0.7vw #222);
    z-index: 1
}


.separador {
    right: 0;
    padding: 0;
    margin: 0%;
    top: 0%;
    filter: drop-shadow(0.4vw 0.4vw 0.7vw #222);

}

.box-1 {
    position: relative;
    font-family: "Roboto";
    background-color: white;
    box-shadow: -0.2vw 0.2vw 0.7vw rgb(21, 19, 19);
}

.botao{
    box-shadow: -0.05vw 0.05vw 0.2vw rgb(21, 19, 19);
   
}
.botao:active{
    background-color: #ba945e;
  }
.box-marrom {
    font-family: "Magic-Retro";
}

.relogio {
    position: relative;
    right: 0;
    padding: 0;
    margin: 20%;
    top: 0;


}
