@import url("https://use.typekit.net/uma2tiz.css");

@font-face {
    font-family: 'Magic-Retro';
    src: url("../../font/magic-retro.ttf")
}


body {
    background-color: #ba945e;
    font-family: "Roboto";
    min-width: 320px;
    max-width: 1900px;
    padding: 0;
    margin: 0 auto !important;
    user-select: none;

}

.navbar {
    min-width: 320px;
    max-width: 1900px;
    padding: 0;
    margin: 0 auto !important;

}

.cor-marrom {
    background-color: #5e380b;
}

.navbar li a:hover {
    background-color: #ba945e;
}


.back-one {
    background-image: url("../../img/background/back-1-min.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    pointer-events: none;

}

.back-two {
    background-image: url("../../img/background/back-2-min.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 1300px;


}

.back-three {
    display: flex;
    background-image: url("../../img/background/back-3.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 800px;
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: center;


}

.back-four {
    background-image: url("../../img/background/back-4.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    max-height: 1400px;
    min-height: 780px;


}

.slogan {
    right: 5%;
    padding: 0%;
    margin: 0%;
    border: 0;
    bottom: 35%;
    filter: drop-shadow(0.4vw 0.4vw 0.7vw #222);

}

.ronaldo {
    right: 23%;
    padding: -20%;
    margin: 0%;
    top: 0%;
    border: 0;
    filter: drop-shadow(0.4vw 0.4vw 0.7vw #222);
    z-index: 1
}


.separador {
    right: 0;
    padding: 0;
    margin-top: 50%;
    top: 0%;
    z-index: 10;
}

.separador2 {
    right: 0;
    padding: 0;
    margin-top: -1.5%;
    margin-bottom: -1.6%;
    top: 0%;
    z-index: 10;
}

.separador3 {
    right: 0;
    padding: 0;
    margin-top: -1.5%;
    margin-bottom: -10%;

}


.box-1 {
    position: relative;
    font-family: "Roboto";
    background-color: white;
    box-shadow: -0.2vw 0.2vw 0.7vw rgb(21, 19, 19);
}

.botao {
    box-shadow: -0.05vw 0.05vw 0.2vw rgb(21, 19, 19);

}

.botao:active {
    background-color: #ba945e;
}

.box-marrom {
    font-family: "Magic-Retro";
}

.relogio {
    position: relative;
    right: 0;
    padding: 0;
    margin: 20%;
    top: 0;


}

.contato {
    background-color: #532A64;
    font-family: "Roboto";
    color: #fff;
}


.imagem-ingresso {
    display: flex;
    background-image: url("../../img/slogan/ingressos.png");
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    width: 300px;
    height: 300px;
    padding: 0;
    margin: 0;
    z-index: 1;
    margin-top: -150px;
    margin-left: -150px;
}


.logo-ingressos {
    display: flex;
    background-image: url("../../img/slogan/chaves-da-criatividade.png");
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    width: 135px;
    height: 135px;
    padding: 0;
    margin: 0;
    z-index: 4;
    margin-top: -155px;
    margin-left: -53px;
    animation: Girar 15s linear infinite;
}

.btn-compre {
    position: absolute;
    z-index: 5;
    margin-top: 15px;
    margin-left: -47px;
}

@keyframes Girar {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.programacao {
    display: flex;
    min-width: 200px;
    max-width: 500px;


}

.geral-patronos {
    position: relative;
    display: block;
    z-index: 4;
    max-width: 500px;
    min-width: 200px;
    height: 700px;

}

.cogumelo {
    position: relative;
    background-image: url('../../img/graphics/programacao_inteiro.png');
    background-color: transparent;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: -210px 11px;
    min-height: 101%;
    transform: translate(-0%, 13%);
    padding: 0%;
    margin: 0%;
}

.box-patronos {
    display: inline-block;
    position: absolute;
    font-family: "Roboto";
    color: #5e380b;
    background-color: transparent;
    width: 220px;
    min-width: 40%;
    transform: translateX(37%);
    top: 50%;
    padding: 0;
    margin: 0;
}