@import url("https://use.typekit.net/uma2tiz.css");

@font-face {
    font-family: 'Magic-Retro';
    src: url("../../font/magic-retro.ttf")
}


body {
    background-color: #ba945e;
    font-family: "Roboto";
    min-width: 320px;
    max-width: 1900px;
    padding: 0;
    margin: 0 auto !important;
    user-select: none;

}

.navbar {
    min-width: 320px;
    max-width: 1900px;
    padding: 0;
    margin: 0 auto !important;

}

.font-magic {
    font-family: "Magic-Retro";
}


.cor-marrom {
    background-color: #5e380b;
}

.navbar li a:hover {
    background-color: #ba945e;
}

.principal{
    height: 100vh;
    width: 100vw;
}

.Img-Sobreposta{
    background-image: url("../../../img/background/FrontalTriangular2.png");
    filter: brightness(0.30) opacity(0.25);

;
    background-size: cover;
    background-position: center center;
    display: flex;
    position: absolute;
    z-index: 15;
    background-repeat:repeat-y;
    height: 100vh;
    width: 100vw;
}
.back-one {
    background-image: url("../../../img/background/sobreTopo.png");
    position: relative;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 30vmax;
    z-index: 1;

}


